.message {
    position: absolute;
    display: flex;
    top: calc(50% - 4rem);
    left: calc(50% - 32rem);
    width: 50rem;
}

.btn-exit {
    font-size: 2.5rem;
}

.modal-header h2 {
    font-size: 4rem;
    text-align: center;
}

.modal-content input {
    font-size: 2.5rem;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
}