html {
  font-size: 10px;
  margin: 0;
}

body {
  background: url("https://t3.ftcdn.net/jpg/00/62/85/04/360_F_62850401_QHhoOVPftGnBwjgPs1pTzl9I106raPsq.jpg") no-repeat;
  background-size: cover;
  text-shadow: 0 0 0.2rem #000;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y:auto;
  height: 100vh;

}

h1 {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  font-size: 5rem;
  padding: 0;
  margin-bottom: 0;
}

output {
  font-size: 2rem;
  color: #1d2124;
  padding-left: 0.5rem;
}

.app {
  background-color: rgba(71, 237, 200, 0.3);
  width: 102rem;
  min-height: 70rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.btnShadow {
  box-shadow: 2px 2px 5px #000;
}

.flex-r {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 990px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 830px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 4.8px;
  }
}