.statistics {
    position: absolute;
    background-color: #99cfbf;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.back {
    font-size: 3rem;
    margin-bottom: 2rem;
}

th {
    font-size: 2.2rem;
    text-shadow: none;

}

td {
    font-size: 2rem;
}
